.sales_container {
    max-width: 1200px;
    margin: 0 auto;
}

.sales_top {
    display: flex;
    align-items: flex-start;
}

.sales_top--total {
    width: 30%;
    margin: 1rem;
}

.sales_top--filters {
    width: 70%;
    margin: 1rem;
}
