.filters--tabs {
    background: white;
    border-radius: 15px;
}

.filters--tabs-active {
    color: #111e6c;
    background: #e4e5ec;
    font-weight: bold;
}

.filters--tabs ul {
    margin: 0;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filters--tabs li {
    list-style: none;
    color: #111e6c;
    padding: 0.6rem 4rem;
    font-weight: 500;
    border-radius: 23px;
    transition: all 0.5s;
}

.filters--tabs li:hover {
    color: #111e6c;
    background: #e4e5ec;
    font-weight: bold;
    cursor: pointer;
}

.filters--filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filters--filter-title {
    background: white;
    padding: 0.6rem 5rem;
    margin: 1rem 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #111e6c;
    font-weight: 500;
}

.filters--filter .material-symbols-outlined {
    margin: 0 0.5rem;
}

@media screen and (max-width: 800px) {
    .filters--tabs li {
        padding: 0.6rem;
    }

    .filters--filter-title {
        width: 100%;
        justify-content: center;
    }
}
